extends index

block content
    style.
        section#body {
            height: 100vh;
        }

    if circuit
        span.hidden#circuitToken= circuit

    script(src="/app/app.js")

    section#body
        div#manipulation-bar.bar
            .group
                button#cut 
                button#copy 
                button#paste 
            hr
            .centre
                button#flip 
                button#rotate-left 
                button#rotate-right 

        div#toolbar.bar
            .left
                button#close 
                button#save 
                hr
                #controls
                    button#undo 
                    button#redo 

            .centre
                #tool-box

                    input(type="radio", name="tool", checked)#pointer
                    label(for="pointer") 

                    input(type="radio", name="tool")#select
                    label(for="select") 

                    input(type="radio", name="tool")#move
                    label(for="move") 

                    .select-box
                        input(type="radio", name="tool")#wire
                        label(for="wire") 
                            #wire-mode-selector.select(for="wire")
                                h3 Wire Mode
                                span.option.selected(data-enum=0) Move
                                span.option(data-enum=1) Place
                                span.option(data-enum=2) Remove
                                span.option(data-enum=3) Select

                    .select-box
                        input(type="radio", name="tool")#debug
                        label(for="debug") 
                            #debug-type-selector.select(for="debug")
                                h3 Break Mode
                                span.option.selected(data-enum=0) On Change
                                span.option(data-enum=1) On Input Change
                                span.option(data-enum=2) On Output Change
                                span.option(data-enum=3) On Update

                    input(type="radio", name="tool")#label
                    label(for="label") 

                    hr

                    button#remove-component 

                    hr

                    input(type="checkbox")#add-component
                    label(for="add-component") 
                    input(type="checkbox")#import-component
                    label(for="import-component") 

            .right
                #pref
                    a(href="/settings", target="_blank")
                        button#settings 
                    a(href="/view/" + circuit, target="_blank")
                        button#view 
                    a(href="/wiki/logicx/usage/interface.md#application", target="_blank")
                        button#help 

        div#canvas-container

        div#debug-bar.bar
            button(disabled)#resume 
            button(disabled)#step 

        div#status-bar.bar
            .left
                span#grid-pos 0,0
                span#document-title ...
                span#document-id ...
            .centre
                div#msg
                    span#time
                    span#status
            .right
                span#save-status saved
                span#owner ...

        div#component-colours
    #tooltips
        span#component-label
        span#terminal
        #small
            span#type
            | ,
            span#position
                span#pos-x
                | :
                span#pos-y
        span#breakpoint
