extends index

block head
    link(rel="stylesheet", href="/app/css/web.css")
    link(rel="stylesheet", href="/app/css/site.css")
    link(rel="stylesheet", href="/app/css/web.css")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500;600;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500;600;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap", rel="stylesheet")
