@font-face {
    font-family: Remix;
    src: url('/app/remixicon.woff2');
}

:root, * {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box !important;
    outline: none;

    user-select: none;

    font-family: 'Montserrat', sans-serif;

    overflow: hidden;
}

:root, body {
    background: var(--background);
}

.hidden {
    display: none;
}

#body {
    display: grid;

    grid-template-rows: auto 1fr;

    height: 100vh;
    width: 100vw;
}

#body #toolbar {
    grid-row: 1;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

#file-box, #controls, #tool-box {
    display: flex;
    flex-direction: row;
}

#toolbar label, #toolbar button {
    color: var(--blank);
    width: 34px;
    height: 34px;
    border-radius: 3px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: background, color;
    margin: 0 3px;
    font-family: Remix;
    font-size: 16pt;
}

#toolbar label:hover, #toolbar button:hover {
    background: var(--panel);
}

#toolbar input[type="radio"], #toolbar input[type="checkbox"] {
    display: none;
}

#toolbar input[type="radio"]:checked + label, #toolbar button:active, #toolbar input[type="checkbox"]:checked + label {
    background: var(--active);
    /*color: var(--background);*/
}

#body #canvas-container {
    grid-row: 2;
}

#status-bar {
    height: 26px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

canvas {
    width: 100%;
    height: 100%;
}

#status-bar > * {
    display: flex;
}

#status-bar > * > * {
    margin: 0 4px;
}

#toolbar input {
    padding: 3px 8px;
    flex: 1;
    max-width: 520px;
    border: none;
    border-bottom: 2px solid var(--panel);
    transition: border-color 0.3s;
    background: transparent;
    color: var(--blank);
}

#toolbar input:focus {
    border-color: var(--active);
}

hr {
    border: 1px solid var(--active);
    margin: 3px;
}