@font-face {
    font-family: Remix;
    src: url('/app/remixicon.woff2');
}

:root, * {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box !important;
    outline: none;

    user-select: none;

    font-family: 'Montserrat', sans-serif;

    overflow: hidden;
}

:root, body {
    background: var(--background);
}

button, #toolbar input, #toolbar .icon, #toolbar label {
    color: var(--blank);
    width: 34px;
    height: 34px;
    border-radius: 3px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    /*background: var(--background);*/
    transition-duration: 0.3s;
    transition-property: background, color;
    margin: 0 3px;
    font-family: Remix;
    font-size: 16pt;
}

*:focus {
    background: var(--panel);
}

#toolbar button:active, #toolbar input[type="button"]:active {
    background: var(--active);
    cursor: pointer;
}

#components {
    max-width: 1000px;
    /*background: var(--background);*/
    padding: 24px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-height: 650px;
}

#components span {
    min-width: 180px;
}

.component {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: var(--blank);
    align-items: center;
    min-width: 180px;
    max-width: 100%;
    padding: 0 6px;
    background: var(--background);
    transition: 0.3s;
    cursor: pointer;
}

.component:hover, .component:focus {
    background: var(--panel);
}

.controls {
    display: flex;
}

#toolbar, #toolbar > * {
    display: flex;
    flex-direction: row;
}

#form input,
#form input:-webkit-autofill,
#form input:-webkit-autofill:hover,
#form input:-webkit-autofill:focus,
#form input:-webkit-autofill:active {
    transition-property: border-color;
    transition-duration: 0.3s;

    box-shadow: 0 0 0 1000vmax var(--panel) inset !important;

    border-radius: 0;

    padding: 12px;
    margin: 2px;
    font-size: 11pt;

    flex: 1;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--background);
    background: var(--panel);
    color: var(--blank);
    -webkit-text-fill-color: var(--blank);
}

#form input:-webkit-autofill:focus, #form input:focus {
    border-color: var(--active);
}

#toolbar label:hover, button:hover {
    background: var(--panel);
}

#toolbar input[type="radio"], #toolbar input[type="checkbox"] {
    display: none;
}

#toolbar input[type="radio"]:checked + label, button:active, input[type="button"]:active, #toolbar input[type="checkbox"]:checked + label {
    background: var(--active);
}

#toolbar a {
    text-decoration: none;
}


/* Scheme */
/*--0: #d9d9d9;*/
/*--1: #f8cbad;*/
/*--2: #efa6ef;*/
/*--3: #28b376;*/
/*--4: #8ea9db;*/
/*--5: #ffe699;*/
/*--6: #8ea9db;*/
/*--7: #efefef;*/
/*--8: #ffffff;*/
/*--9: #3c4146;*/

/*--0: #cec9c4;*/
/*--1: #4c3a33;*/
/*--2: #a84401;*/
/*--3: #0cb3c9;*/
/*--4: #28334c;*/
/*--5: #419b62;*/
/*--6: #ba0950;*/
/*--7: #454747;*/
/*--8: #151b1c;*/
/*--9: #9a9a9a;*/