extends page

block banner
    h1 LogicX

    //block banner
    //    video(src="/res/video/logicx-ad.mp4", autoplay=true, muted=true)

block page
    style.
        .showoff {
            width: 100%;
            max-width: 100%;
            display: grid;
            padding: 128px 0;
            grid-template-columns: 1fr 1fr;
            height: 100%;
            /*background: var(--panel);*/
        }

        .showoff #blurb {
            grid-column: 1;

        }

        .showoff img {
            grid-column: 2;
            width: 100%;
            max-width: 100%;
            padding: 24px;
            display: block;
        }

        .flex {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .flex > * {
            flex: 1;
            display: block;
            align-self: center;
            justify-self: center;
        }

        .flex .box {
            display: flex;
            justify-content: center;
            align-self: center;
        }

        .flex img {
            max-height: 240px;
        }

        .sign-me-up button {
            width: 180px;
            height: calc(4 * 16pt);
            background: var(--active);
            color: var(--blank);
            font-family: "Raleway", sans-serif;
            font-size: 16pt;
            margin: 0;
        }

        .padding {
            margin: 48px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16pt;
        }

        .padding span {
            margin: 0;
            padding: 0 8px;
            font-size: 16pt;
            height: calc(4 * 16pt);
            line-height: calc(4 * 16pt);
        }

        .padding:last-child {
            flex: 1;
        }

        .features {
            display: flex;
            flex-direction: column;
            margin: 64px 0;
        }

        .feature {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 480px;

            --border: 2px solid var(--blank);
            border-top: var(--border);
            border-bottom: var(--border);
        }

        .feature:first-child {
            border-top: none;
        }

        .feature:last-child {
            border-bottom: none;
        }

        .feature > * {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .feature .img {
            font-family: Remix;
            font-size: 64pt;
            align-self: center;
            text-align: center;
            width: 100%;
        }

        .banner {
            display: flex;
            flex-direction: column;
            background: var(--panel);
            padding: 24px;
        }

        .banner > * {
            flex: 1;
            font-size: 16pt;
            line-height: 28pt;
            text-align: center;
            margin: 24px 0;
        }

        .banner h3 {
            font-size: 24pt;
        }

        .info {
            width: 100%;
            display: flex;
            flex-direction: column;

            margin: 64px 0;
            min-height: 180px;
        }
        .info > * {
            flex: 1;
            text-align: center;
        }

        @media screen and (max-width: 1250px) {
            .info, .banner, .feature, .features, .padding, .flex {
                flex-direction: column;
                max-width: 100%;
            }

            .showoff {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }

            .showoff #blurb {
                grid-row: 1;
                grid-column: 1;
            }

            .showoff #showoff {
                grid-row: 2;
                grid-column: 1;

                max-width: inherit;
            }
        }

    .showoff
        #blurb
            .flex
                img(src="/app/img/logo.svg")
                .logo
                    h1 LogicX
                    h3 Computers, Simplified.
            p Discover what makes the 21st century tick.

            .padding
                a(href="/user/signup").sign-me-up
                    button Sign Up
                span Free forever. No ads. Ever.

        video(controls, width="100%", autoplay=true)#showoff
            source(src="/res/video/logicx-ad.mp4" type="video/mp4")

    ul.banner
        h3 LogicX?
        li LogicX is the platform for learning in-depth, how computers power the 21st century.
        li LogicX teaches you how to think like an engineer, and understand the intricacies of our modern technology on an extremely low level.
        li With LogicX, you'll learn everything from the ground up. Building operating systems for your own custom hardware, right from your fingertips.

    .features
        .feature
            .img 
            .blurb
                h1 Discover interactivity.
                p Experience circuits like never before with interactive controls and live views of your work
        .feature
            .blurb
                h1 Debug that thing!
                p Step through each moment in time and observe how your circuits behave with different inputs
            .img 
        .feature
            .img 
            .blurb
                h1 Find your tribe!
                p Explore endless user-made components and circuits that you can use in your projects
        .feature
            .blurb
                h1 Learn, Discover, Design.
                p Discover the wonderfully complex and beautiful harmony between Maths, Engineering and Physics in elegant machines
            .img 
        .feature
            .img 
            .blurb
                h1 Fit to your heart's content.
                p Find or Create your own themes, plugins, components, and features you can share with everyone

    .flex
        img(src="/app/img/logo.svg")
        .box
            a(href="/user/signup").sign-me-up
                button Sign Up Now

    .info
        h2 Explore LogicX
        a(href="/wiki/index.md") FAQ
        a(href="/wiki/LogicX/usage/getting-started.md") Getting Started
        a(href="/wiki/") LogicX Wiki
        a(href="/wiki/_diy_computer/1_introduction/1_introduction.md") Build Your Own Computer

    //.examples
    //    img(href="/res/examples/adder.jpg")
    //    img(href="/"

    .footer

