extends ../web

mixin breadcrumbs(path)
    -
        const nonCapitalised = ['and', 'or', 'is', 'but', 'not', 'because', 'of', 'from', 'to', 'in', 'at', 'vs']
        const allCaps = ['diy', 'faq', 'alu'];
        const capitalise = function (i) {
            if (i.endsWith('.md'))
                i = i.slice(0, -3);
            const words = [];
            for (const word of i.split(/[-\s.\/\\_]+/g).filter(i => i)) {
                if (nonCapitalised.includes(word.toLowerCase()))
                    words.push(word.toLowerCase());
                else if (allCaps.includes(word.toLowerCase()))
                    words.push(word.toUpperCase());
                else
                    words.push(word[0].toUpperCase() + word.slice(1).toLowerCase());
            }

            return words.join(' ');
        }

    div.breadcrumbs
        span.crumb Wiki

        if path
            - const crumbs = path.split('/').filter(i => i).map(i => capitalise(i))
            each i in crumbs
                icon 
                span.crumb= i

block content
    input(type="checkbox")#header-collapse.hidden
    label(for="header-collapse")
        header
            if isLoggedIn
                nav#content
                    nav.site
                        a(href="/", data-icon="") Home
                        a(href="/explore", data-icon="") Explore
                        a(href="/wiki", data-icon="") LogicX Wiki
                    nav.user
                        a(href="/dashboard#own", data-icon="") Dashboard
                        a(href="/user/account", data-icon="") Account
                        a(href="/user/logout", data-icon="") Log Out
            else
                nav#content
                    nav.site
                        a(href="/", data-icon="") Home
                        a(href="/folio" data-icon="") Folio
                        a(href="/wiki", data-icon="") LogicX Wiki
                    nav.user
                        a(href="/dashboard", data-icon="") Log In

    section#body
        section#banner
            block banner

        section#page
            block page

        footer
            nav
                div.ref
                    a(href="/license") License
                    a(href="/ref") References
                    a(href="/acknowledgements") Acknowledgements
                div#copyright
                    a(href="https://jschneiderprojects.com.au") Jacob Schneider - 2021
                div.res
                    a(href="/dashboard#own") Dashboard
                    a(href="https://github.com/J-Cake/Logic") GitHub
                    a(href="https://logicx.jschneiderprojects.com.au") WebSite