@media screen and (prefers-color-scheme: light) {
    /* Folio theme */
    :root {
        --primary:          #727c80;
        --danger:           #DB6869;
        --secondary:        #FCA087;
        --label:            #283A4E;
        --accent:           #23586D;
        --active:           #68B2DC;
        --secondaryaccent:  #7BCBE0;
        --cursor:           #679ba9;
        --panel:            #eeeeee;
        --background:       #FDFCF7;
        --blank:            #413d3d;
        --dark:             #2e343c;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --primary:          #bcb9b7;
        --danger:           #cb3403;
        --secondary:        #a8013b;
        --label:            #f55900;
        --accent:           #28424c;
        --active:           #115c96;
        --secondaryaccent:  #ba0950;
        --cursor:           #1f60b8;
        --panel:            #2f3334;
        --background:       #272c2d;
        --blank:            #c3c3c8;
        --dark:             #080d11;
    }
}