extends page

block page
    #logo
        img(src="/app/logo.svg")
        div#heading
            h1 LogicX
            h3 Design circuits with ease.

    p.
        LogicX is a playground for building, designing and testing computers from 1s and 0s, without needing real or simulated electronics.