extends page

mixin renderPages(pages, root)
    -
        const nonCapitalised = ['and', 'or', 'is', 'but', 'not', 'because', 'of', 'from', 'to', 'in', 'at', 'vs']
        const capitalise = function (i) {
            if (i.endsWith('.md'))
                i = i.slice(0, -3);
            const words = [];
            for (const word of i.split(/[-\s.\/\\]+/g)) {
                if (nonCapitalised.includes(word.toLowerCase()))
                    words.push(word.toLowerCase());
                else
                    words.push(word[0].toUpperCase() + word.slice(1).toLowerCase());
            }
            return words.join(' ');
        }
    for page in Object.keys(pages)
        if (typeof pages[page] === 'string')
            a.page(href="/wiki/" + encodeURIComponent(root + page))= capitalise(page)
        else
            span= capitalise(page)
            .indent
                +renderPages(pages[page], page + '/')

block page
    link(rel="stylesheet", href="/app/wiki.css")

    h2 Index
    .pages
        +renderPages(pages, '')

    if (content)
        article#content !{content}