extends index

block content
    style.
        section#body {
            height: 100vh;
        }

    if circuit
        span.hidden#circuitToken= circuit

    if devMode
        script.
            console.log("Enabling Live-Reload");
            new WebSocket(`ws://${window.location.hostname}:#{devMode}`).addEventListener('message', _ => location.reload());

    script.
        fetch('./app.js', {
            method: "HEAD"
        }).then(function (res) {
            if (res.ok)
                document.body.appendChild((function () {
                    const script = document.createElement('script');
                    script.setAttribute('src', '/app/app.js');
                    script.addEventListener('load', function () {
                        if (window.init)
                            window.init(); // This is provided by the script once it has successfully loaded.
                    });
                    return script;
                })());
            else {
                alert('The build has not finished yet. Please wait until the build finishes.')
                window.location.reload();
            }
        });

    section#body
        div#toolbar
            .left
                button#close 
                hr
                #file-box
                    button#save 
                    button#open 
                    button#new 
                hr
                #controls
                    button#undo 
                    button#redo 
                hr
                #tool-box

                    input(type="radio", name="tool", checked)#pointer
                    label(for="pointer") 

                    input(type="radio", name="tool")#select
                    label(for="select") 

                    input(type="radio", name="tool")#move
                    label(for="move") 

                    input(type="radio", name="tool")#wire
                    label(for="wire") 

                    input(type="radio", name="tool")#debug
                    label(for="debug") 

                    input(type="radio", name="tool")#label
                    label(for="label") 

                    hr

                    input(type="checkbox")#add-component
                    label(for="add-component") 
                    button#remove-component 
                    button#import-component 

            .right
                #pref
                    input(type="checkbox", name="panel-visibility")#panel-vis
                    label(for="panel-vis") 

                    input(type="checkbox", name="pref")#show-labels
                    label(for="show-labels") 

                    hr

                    button#in 
                    button#reset 
                    button#out 

        div#canvas-container

        div#status-bar
            .left
                span#grid-pos 0,0
                span#document-title ...
                span#document-id ...
            .right
                span#save-status saved
                span#owner ...
