doctype html
html
    head
        link(rel="stylesheet", href="/app/ui.css")
        link(rel="stylesheet", href="/app/web.css")
        link(rel="stylesheet", href="/app/colours.css")

        title Components

        if devMode
            script.
                console.log("Enabling Live-Reload");
                new WebSocket(`ws://${window.location.hostname}:#{devMode}`).addEventListener('message', _ => location.reload());
    body
        #toolbar
            button#find-component
                i(data-eva="cloud-download-outline")
                //
            button#search
                i(data-eva="funnel-outline")
                //
        section#components
            each component in components
                div.component
                    span.name= component
                    .controls
                        button.info
                            i(data-eva="info-outline")
                            //
                        button.remove
                            i(data-eva="trash-outline")
                            //

        script(src="/app/comps.js", defer)