doctype html
html
    head
        link(rel="stylesheet", href="/app/ui.css")
        link(rel="stylesheet", href="/app/web.css")
        link(rel="stylesheet", href="/app/colours.css")

        title Components

        if devMode
            script.
                console.log("Enabling Live-Reload");
                new WebSocket(`ws://${window.location.hostname}:#{devMode}`).addEventListener('message', _ => location.reload());
    body
        form#toolbar
            input#component-name(placeholder="enter-keyword", name="q")
            button(type="submit")
                i(data-eva="search-outline")

        section#components
            each result in foundComponents
                div.component
                    span.name=result
                    .controls
                        button.info
                            i(data-eva="info-outline")

        script.
            window.src = new Promise(function (resolve, reject) {
                fetch('/app/find.js', {
                    method: "HEAD"
                }).then(function (res) {
                    if (res.ok)
                        document.body.appendChild((function () {
                            const script = document.createElement('script');
                            script.id = "scr";
                            script.setAttribute('src', '/app/find.js');
                            resolve();
                            return script;
                        })());
                    else {
                        reject();
                        alert('The build has not finished yet. Please wait until the build finishes.')
                        window.location.reload();
                    }
                });
            });

        script(src = "/res/eva.min.js")
        script.
            eva.replace({
                fill: getComputedStyle(document.body).color
            });