doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/app/master.css")
        link(rel="stylesheet", href="/app/ui.css")
        link(rel="stylesheet", href="/app/web.css")

        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap", rel="stylesheet")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap", rel="stylesheet")

        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(rel="icon", href="/app/logo.svg")

    body
        block content