doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/app/master.css")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(rel="icon", href="/app/logo.svg")

    body
        block content