doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/app/css/master.css")
        link(rel="stylesheet", href="/app/css/ui.css")
        link(rel="stylesheet", href="/app/css/colours.css")

        link(rel="preconnect", href="https://fonts.gstatic.com")

        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        link(rel="icon", href="/app/img/logo.svg")

        block head

    body
        block content