extends site/page

mixin search
    form(action="/wiki/search", method="get")#form
        input(type="search", name="q", placeholder="Search")#query
        button(type="submit") ïƒ

block page
    link(rel="stylesheet", href="/app/css/wiki.css")

    -
        const collapse = function (results) {
            const map = new Map();
            for (const i of results)
                if (map.has(i.file))
                    map.get(i.file).push(i);
                else
                    map.set(i.file, [i]);
            return map.entries();
        }

    div
    section
        +search()
        article
            if results.length > 0
                h1 Your query returned #{results.length} #{results.length === 1 ? "result" : "results"}

                - for (const i of collapse(results))
                    div.result
                        h3
                            a(href="/wiki/" + i[0])= i[0]
                        ul
                            each j in i[1]
                                li !{j.preview}
            else
                h1 No Results.
                p Your query returned no results.
    div
