h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

h1 {
    font-size: 28pt;
    font-family: Lora, serif;
    font-style: italic;
    font-weight: bold;
    color: var(--blank);
}

h2 {
    font-size: 18pt;
    font-family: Rasa, serif;
    /* width: 100%; */
    border-bottom: 1px solid var(--blank);
    font-weight: normal;
    font-style: italic;
}

h3 {
    font-size: 16pt;
    font-family: Rasa, serif;
    font-weight: normal;
}

h4 {
    font-size: 16pt;
}

h5 {
    font-size: 12pt;
}

h6 {
    font-size: 8pt;
}

p, li {
    margin: 0.5em 0;
    font-family: Raleway, sans-serif;
    line-height: 150%;
    letter-spacing: 0.3px;
    text-align: justify;
    font-size: 10pt;
}

ul > li:before, .page:before {
    content: '';
    background: var(--secondary);
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 35px;

    line-height: 10pt;
    margin: 0 0.75em;
}

ul ul {
    margin: 0 14pt;
}

ul ul ul {
    margin: 0 28pt;
}

ul ol, ol ul {
    margin: 0 28pt;
}

ol {
    counter-reset: list;
}

ol > li:before {
    counter-increment: list;
    content: counter(list);
    color: var(--secondary);

    line-height: 10pt;
    margin: 0 0.75em;
}

#pages {
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
}

#pages .page {
    display: flex;
    color: var(--primary);
    line-height: 150%;
    font-size: 10pt;
    text-align: justify;
    align-items: center;
}

.indent {
    padding-left: 24px;
}

#pages .page:before {
    content: '';
    display: block;
}

article {
    /*overflow: auto;*/
    /*height: 100%;*/
    padding: 12px;
}

pre, code {
    font-family: Inconsolata, monospace;
    background: var(--panel);
    padding: 4px;
    font-size: 12pt;
    line-height: 16pt;
    border-radius: 2px;
}

code {
    /*break-after: ;*/
}

pre code {
    font-family: Inconsolata, monospace;
    background: var(--panel);
    padding: 8px;
    font-size: 12pt;
    line-height: 16pt;
    white-space: pre;
    display: block;
}

pre {
    margin: 8px 0;
}

blockquote {
    background: var(--panel);
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    line-height: 125%;
    border-left: var(--secondary) 4px solid;

    margin: 8px 4px 8px 0;
}

table {
    width: 100%;
}

table {
    width: 100%;
}

td {
    /*border: 1px solid var(--primary);*/
    border-collapse: collapse;
    line-height: 2;
    padding: 8px;
}

tr:nth-child(even) {
    background: var(--panel);
}

icon {
    font-family: Remix;
    font-size: 12pt;
    display: inline;
    text-align: center;
}

#page {
    max-width: 100%;
    width: 100%;
    display: grid;
}

#index {
    grid-area: index;
    width: 100%;
    height: 100%;
}

article#content {
    grid-area: article;
    width: 100%;
    height: 100%;
}

.collapse, .collapse-index {
    position: absolute;
    visibility: hidden;
    width: 0;
}

.collapse + label span, .collapse-index + label h2 {
    cursor: pointer;
}

.collapse + label > .indent, .collapse-index + label > #pages {
    display: none;
}

.collapse:checked + label > .indent {
    display: block;
}

.collapse-index:checked + label #pages {
    display: flex;
}

.collapse:checked + label:before, .collapse-index:checked + label h2:before {
    transform: rotate(90deg);
}

.collapse + label:before, .collapse-index + label h2:before {
    content: '';
    font-style: normal;
    transition: transform 0.3s;
    width: 16pt;
    height: 16pt;
    line-height: 16pt;
    display: inline-block;
    text-align: center;
    font-size: 12pt;
    font-family: Remix;
}

article img {
    margin: 8px auto;
    display: block;
    max-width: 800px;
    max-height: 650px;
    /*width: 100%;*/
    box-shadow: 0 0 8px var(--dark);
}

#article > * {
    width: 100%;
}

#article #issue {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    border-top: 1px solid var(--panel);
    padding-top: 24px;
}

#article #issue button {
    width: auto;
    display: flex;
    min-width: 180px;
    background: var(--panel);
    color: var(--primary);
    margin: 8px;
    padding: 8px;
    align-items: center;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
}

article .result {
    background: var(--panel);
    border-radius: 4px;
    padding: 24px;
    margin: 16px;
    box-shadow: 0 0 8px var(--dark);
}

article .result ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    flex: 1;
}

#form {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: auto;
    background: var(--panel);
    display: flex;
    flex-direction: row;
    margin: 8px;
}

#form input {
    width: 100%;
    /*min-width: 100%;*/
    flex: 1;
}
#form button {
    font-family: Remix;
    font-size: 16pt;
    min-width: 4em;
    max-width: 4em;
    width: 4em;
    /*width: auto;*/
    line-height: 2em;
    display: block;
}

@media (max-width: 800px) {
    article#content {
        width: 100%;
    }
}

@media (min-width: 800px) and (max-width: 1250px) {
    article#content {
        max-width: var(--max-width);
    }
}

@media (min-width: 1250px) {
    article#content {
        min-width: 800px;
    }
}
